.bannerImg img {
  width: 100%;
}

.recipeSuggestion {
  position: relative;
  width: 100%;
}

.recipeSuggestion ul {
  position: absolute !important;
  z-index: 1;
}

.recipeSuggestion li {
  cursor: pointer;
}

/* Desktop View */
// @media (min-width: 900px) {
//   .reverse {
//     flex-direction: row-reverse !important;
//   }
// }
